
<div id="content">
	<nav>
	    <header>
	        <div class="header_logout"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></div>
	        <div class="header_title"><%= @wg.name %> </div>
	    </header>
	</nav>

	<div style="clear: both;"></div>

	<div class="main">

		<div class="content_header">
	        <div class="info_box">
	            <span class="info_box_top"></span>
	            <div class="info_box_content">
	                <p>Immer schön benutzen damit die Arbeit nicht umsonst war!</p>
	                <p class="box_line_height">Rechts kannst du einen <span>neuen Eintrag</span> machen!</p><br />
	            </div>
	            <span class="info_box_bottom"></span>
	        </div>

	        <div id="eintrag_form">

	        <%= form_for @buying, :as => :buying, :url => buyings_path do |f| %>
 			 <p>
			    <%= f.label :costs %> 
			    <%= f.text_field :costs %> €
			  </p>
			  <p>
			    <%= f.label :description %>
			    <%= f.text_area :description %>
			  </p>
			  <p>
			    <%= f.submit 'Submit' %>
			  </p>
			<% end %>

	        </div>	
	        <div style="clear: both;"></div>	
		</div>

		<div class="clear"></div>
		<div id="diff">
		    <div class="diff_box">
		        <div class="diff_name"></div>
		        <div class="diff_value">€</div>
		       
		    </div>
		</div>

		<% @users.each do |u| %>
  
		<div class="content_box">
		    <div class="content_box_top left">
		        <h2><%= u.email %></h2>
		    </div>
		    <div class="content_box_schrage left"></div> 
		    <div style="clear:both"></div>
		    <div class="content_box_contentWrapper">

		    <div class="month" id="">
			       <span>Jänner</span><span class="arrow right open"></span>
			  </div>
  
			  <div class="entry" id="">
			        <div class="sub_entry" id="">
					    <div class="item-left left">
					      <span class="value">46,50</span>
			                      
			                     <div class="edit left" title="Eintrag bearbeiten" onClick=""></div>
					      <div class="delete left" title="Eintrag löschen" onClick=""></div>

					    </div>
			            <div class="comment left">afd a dfasdf asdf asdf saf </div>
					    <div style="clear:both;"></div>
			                    <div class="sub_entry_line"></div>
			        </div>
			        <div class="sub_entry" id="">
					    <div class="item-left left">
					      <span class="value">46,50</span>
			                      
			                     <div class="edit left" title="Eintrag bearbeiten" onClick=""></div>
					      <div class="delete left" title="Eintrag löschen" onClick=""></div>

					    </div>
			            <div class="comment left">afd adf asda sdfa sdasdfasfsdasdfa sffasdf asdf asdfa sdfsdfa  a dfasdf asdf asdf saf </div>
					    <div style="clear:both;"></div>
			                    <div class="sub_entry_line"></div>
			        </div>

				  <div class="monthly-sum">Summe: €&nbsp;<span style="font-size:16px"></span></div>

			  </div>
  			</div>
		</div>
		<% end %>
		   
		<div class="content_box">
		    <div class="content_box_top left">
		        <h2>bbb</h2>
		    </div>
		    <div class="content_box_schrage left"></div> 
		    <div style="clear:both"></div>
		    <div class="content_box_contentWrapper"></div>
		</div>
		<div class="content_box">
		    <div class="content_box_top left">
		        <h2>cccdasfasdf</h2>
		    </div>
		    <div class="content_box_schrage left"></div> 
		    <div style="clear:both"></div>
		    <div class="content_box_contentWrapper"></div>
		</div>
		<div style="clear:both"></div>


	</div>

</div>