<div id="edit_popup">

<div id="edit_blue">
	<h1>Eintrag bearbeiten</h1>
</div>

<div id="edit_form">

<%= form_for (@buying) do |f| %>
  <p>
	<%= f.label :costs %> 
	<%= f.text_field :costs %> €
  </p>
  <p>
	<%= f.label :description %>
	<%= f.text_area :description %>
  </p>
  <p>
	<%= f.submit 'Submit' %>
  </p>
<% end %>

</div>

</div>