<!DOCTYPE html>
<html>
<head>
  <title>WG-App</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class="alert_wrapper"><span class="notice"><%= flash[:notice] %></span></div>
  <div class="alert_wrapper"><span class="notice"><%= notice %></span></div>
  <div class="alert_wrapper"><span class="alert"><%= flash[:alert] %></span></div>
  <div class="alert_wrapper"><span class="alert"><%= alert %></span></div>
</head>
<body>

<%= yield %>

</body>
</html>
